.error,
.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.notification {
  color: green;
}

.blogOutline {
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

nav {
  background-color: #d3d3d3;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

nav li {
  display: inline;
  margin: 10px;
}
